* {
    margin: 0;
}
  
html {
    height: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
}
  
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 32px;
    text-align: center;
    -webkit-text-stroke: 1px #2d414d;
}

p {
    margin-bottom: 24px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

.cta {
    background-color: #2A3D45;
    color: #6EF9F5;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px 28px;
    margin-bottom: 24px;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in, font-size 0.2s, background-color 0.5s;
    &:hover {
        box-shadow: pink 0px 0px 0px 3px;
        background-color: #5ABCB9;
        color: #323031;
        font-size: 1.6rem;
    }
}

section {
    margin-top: 40px;
    margin-bottom: 80px;
}

.scroll {
    margin-top: 40px;
    margin-bottom: 88px;
    font-size: xx-large;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    &:hover {
        transform: scale(1.7);
    }
}

/*      HEADER     */ 

header {
    width: 100%;
    height: 120px;
    display: flex;
    box-sizing: border-box;
    padding: 32px 24px 40px;
    justify-content: space-between;
    margin-bottom: 56px;
}

.logo {
    max-height: 120px;
}

.cta-session {
    font-size: 1rem;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 48px;
}

.cta-session.login {
    border: 0.7px solid black;
    transition: background-color 0.5s;
    &:hover {
        background-color: #9DC5BB;
        color: #323031;
        border: 0.3px solid black;;
    }
}

.cta-session.signup {
    background-color: #2A3D45;
    color: #6EF9F5;
    transition: border 0.2s ease-in, background-color 0.5s;
    &:hover {
        border: 1px solid pink;
        background-color: #5ABCB9;
        color: #323031;
    }
}

#main-nav {
    width: 220px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -220px;
    height: 100%;
    border-right: 2px solid #222;
    transition: left .5s ease, top .5s ease;
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      text-align: center;
      font-size: 1.2em;
      font-weight: 700;
    }
}

.navbar {
    position: relative;
    border: 0.8px solid black;
    background-color: #2A3D45;
    padding: 8.5px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
}

.navbar input {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}

.barre-une {
    position: absolute;
    left: 10px;
    top: 18px;
    width: 28px;
    height: 2px;
    border-radius: 50px;
    background-color: #6EF9F5;
    pointer-events: none;
    transition: 0.5s;
}

.barre-deux {
    position: absolute;
    left: 10px;
    top: 26px;
    width: 28px;
    height: 2px;
    border-radius: 50px;
    background-color: #6EF9F5;
    pointer-events: none;
    transition: 0.5s;
}

.navbar input:checked ~ span {
    background-color: #E5ECF4;
}

.navbar input:checked ~ span:nth-child(2) {
    transform: rotate(-45deg);
}

.navbar input:checked ~ span:nth-child(3) {
    transform: rotate(45deg);
}

/*      LANDINGPAGE     */ 

.landingpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
}

.bulle {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.bulle.un {
    height: 145px;
    width: 137px;
    background-color: #9EA3B0;
    border-radius: 33% 67% 71% 29% / 33% 47% 53% 67%;
    position: absolute;
    top: 8px;
    left: -32px;
    transition: transform 0.4s ease-in-out;
    transform: rotate(-25deg);
    &:hover {
        transform: scale(1.2);
    }
}

.bulle.deux {
    height: 109px;
    width: 111px;
    background-color: #FAE1DF;
    border-radius: 33% 67% 71% 29% / 30% 17% 83% 70%;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
    position: absolute;
    top: -8px;
    left: 132px;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.bulle.trois {
    height: 109px;
    width: 111px;
    background-color: #9DC5BB;
    border-radius: 29% 71% 0% 100% / 30% 41% 59% 70%;
    position: absolute;
    top: 200px;
    left: 68px;
    transition: transform 0.4s ease-in-out;
    transform: rotate(25deg);
    &:hover {
        transform: rotate(80deg);
    }
}

.bulle.quatre {
    height: 112px;
    width: 131px;
    background-color: #E5ECF4;
    border-radius: 29% 71% 0% 100% / 27% 63% 37% 73%;
    position: absolute;
    top: -16px;
    right: 154px;
    transform: rotate(10deg);
    transition: border-radius 0.7s ease-in-out;
    &:hover {
        border-radius: 75% 25% 84% 16% / 59% 38% 62% 41%;
    }
}

.bulle.cinq {
    height: 125px;
    width: 169px;
    background-color: #9EA3B0;
    border-radius: 59% 41% 83% 17% / 43% 10% 90% 57%;
    position: absolute;
    top: 6px;
    right: -48px;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.bulle.six {
    height: 125px;
    width: 179px;
    background-color: #F7B2AD;
    border-radius: 23% 77% 20% 80% / 61% 66% 34% 39%;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;*/
    position: absolute;
    top: 172px;
    right: -88px;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.bulle.sept {
    height: 142px;
    width: 88px;
    background-color: #9DC4B5;
    border-radius: 84% 16% 49% 51% / 85% 39% 61% 15%;
    position: absolute;
    top: 200px;
    right: 140px;
    transform: rotate(25deg);
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: rotate(-80deg);
    }
}

.explications,
.présentation {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    align-items: center;
}

.process {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 148px;
    align-items: center;
    background: url('./images/photo-process.jpg');
    background-size: contain;
    background-size: 850px;
    background-position: 0 -415px;
    border-radius: 80px;
    img {
        transform: rotate(45deg);
    }
}

.bulle.huit {
    height: 135px;
    width: 119px;
    background-color: #F7B2AD;
    border-radius: 86% 14% 71% 29% / 100% 31% 69% 0%;
    position: absolute;
    top: -155px;
    left: -170px;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.bulle.neuf {
    height: 102px;
    width: 84px;
    background-color: #9EA3B0;
    border-radius: 0% 100% 16% 84% / 69% 80% 20% 31%;
    position: absolute;
    top: 32px;
    left: -32px;
    transition: transform 0.4s ease-in-out;
    transform: rotate(180deg);
    &:hover {
        transform: rotate(-180deg);
    }
}

.bulle.dix {
    height: 137px;
    width: 117px;
    background-color: #F7B2AD;
    border-radius: 19% 81% 16% 84% / 55% 53% 47% 45%;
    position: absolute;
    top: 182px;
    right: -88px;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.bulle.onze {
    height: 125px;
    width: 123px;
    background-color: #BBCDE5;
    border-radius: 85% 15% 59% 41% / 74% 47% 53% 26%;
    position: absolute;
    top: 340px;
    right: -132px;
    transition: border-radius 0.8s ease-in-out;
    &:hover {
        border-radius: 41% 59% 47% 53% / 29% 67% 33% 71%;
    }
}

.bulle.douze {
    height: 168px;
    width: 153px;
    background-color: #9EA3B0;
    border-radius: 75% 25% 84% 16% / 59% 38% 62% 41%;
    position: absolute;
    top: 456px;
    right: -300px;
    transition: border-radius 0.8s ease-in-out;
    &:hover {
        border-radius: 41% 59% 47% 53% / 29% 67% 33% 71%;
    }
}

.bulle.treize {
    height: 104px;
    width: 111px;
    background-color: #639FAB;
    border-radius: 49% 51% 30% 70% / 45% 69% 31% 55%;
    position: absolute;
    top: 632px;
    right: -188px;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: rotate(180deg);
    }
}

.bulle.quatorze {
    height: 156px;
    width: 113px;
    background-color: #FAE1DF;
    border-radius: 81% 19% 100% 0% / 73% 31% 69% 27%;
    position: absolute;
    top: 764px;
    right: -116px;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

/*      FOOTER     */ 

footer {
    width: 100%;
    height: 200px;
    display: flex;
    box-sizing: border-box;
    padding: 32px 24px 40px;
    justify-content: space-between;
    margin-top: 108px;
    background-color: aliceblue;
}