{% extends 'layout.html.twig' %}

{% block subtitle %} Espace personnel {% endblock %}

{% block scripts %} <script rel="script" src="/assets/scripts/script.js" defer></script> {% endblock %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/dashboard.css">
{% endblock %}

{% block content %}
    {% include 'Components/_navbar.html.twig' %}   

    <div id="content-wrap">
        {% include 'Components/_header.html.twig' %}

        <main class="page-espace-perso">
            <div class="bulle trente-trois"></div>
            <div class="bulle trente-quatre"></div>
            <div class="bulle trente-cinq"></div>
            <div class="bulle trente-six"></div>
            <div class="bulle trente-sept-satellites" id="sat-un"></div>
            <div class="bulle trente-sept-satellites" id="sat-deux"></div>
            <div class="bulle trente-sept-satellites" id="sat-trois"></div>
            <div class="bulle trente-sept-satellites" id="sat-quatre"></div>
            <div class="bulle trente-sept-satellites" id="sat-cinq"></div>
            <div id="bulle-trente-sept" class="bulle trente-sept"></div>
            <div class="bulle trente-huit"></div>

            <section class="presentation-espace-perso">
                <h1>Bienvenue dans votre espace personnel</h1>
                <p>Ici, vous pouvez donner libre cours à vos envies et réaliser celles de vos proches, dire aux autres comment vous faire plaisir ou couvrir de cadeaux vos amis. 
                    Mariage, anniversaire, baptême, pot de départ... Toutes les occasions sont bonnes pour créer une liste d'envies. Vous pourrez en créer jusqu'à dix et les partager avec qui vous voulez !
                </p>
                <div class="scroll">
                    <i class="fa-solid fa-chevron-down" id="scroll-to-lists"></i>
                </div>
            </section>

            <section class="section-listes">
                <h1 id="lists-part">Mes listes</h1>
                {% if lists is not empty %}
                    {% for list in lists %}
                        <div class="container-list">
                            <img src="" alt="">
                            <h3>{{list.title}}</h3>
                            <p class="text-description-list"><?php echo($list['description']); ?></p>
                            <div id="container-display-items">
                                <input type="checkbox" id="controlDisplayItems" checked>
                                <i class="fa-solid fa-chevron-down see-more" id="see-more"></i>
                                <i class="fa-solid fa-chevron-up see-less" id="see-less"></i>
                            </div>
                            <div id="display-items">
                                <div class="box-item add-item">
                                    <i class="fa-solid fa-plus add-item-icon"></i>
                                    <form action="addItem.php" method="POST" class="add-new-item-form">
                                        <label for="list-id"></label>
                                        <input type="text" id="list-id" name="list-id" value="<?php echo($list['liste_id']); ?>">
                                        <a href="addItem.php"><button type="submit" class="add-new-item-btn"></button>
                                    </form></a>
                                </div>
                                <?php 
                                $retrieveItems = $dbco->prepare("SELECT item_name, link, price, informations, img_link  
                                                                FROM list_items
                                                                WHERE list_id = '" . $list['liste_id'] . "'");
                                $retrieveItems-> execute();
                                $listItems = $retrieveItems->fetchAll(PDO::FETCH_ASSOC);
                                ?>
                                {% for item in items %}
                                    <div class="box-item">
                                        <div class="item-illustration">
                                            <img src="<?php echo($item['img_link']); ?>" alt="">
                                            <i class="fa-regular fa-heart sat-icon" id="add-to-favorites-icon"></i>
                                            <i class="fa-solid fa-gift sat-icon" id="pay-that-item"></i>
                                            <i class="fa-solid fa-trash-can sat-icon" id="add-to-trash-icon"></i>
                                        </div>
                                        <div class="item-all-informations">
                                            <p class="item-elements item-name"><?php echo($item['item_name']); ?></p>
                                            <p class="item-elements item-price"><?php echo($item['price']); ?> euros</p>
                                            <p class="item-elements item-info"><?php echo($item['informations']); ?></p>
                                            <p class="item-elements item-link"><a href="<?php echo($item['link']); ?>"><?php echo($item['link']); ?></a></p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <a class="cta" href="createList.php">Créer une nouvelle liste</a>
                {% else %}
                    <div class="container-no-list">
                        <p>Vous n'avez pas encore de listes. <br>Mais pas de panique, c'est le moment de créer votre première !</p>
                        <a class="cta" href="createList.php">C'est parti</a>
                    </div>   
                {% endif %}
                <div class="scroll" onclick="scroll(0, 600);">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </section>

            <div class="bulle trente-neuf"></div>
            <div class="bulle quarante"></div>
            <div class="bulle quarante-huit"></div>
            <div class="bulle quarante-neuf"></div>
            <div class="bulle cinquante"></div>
            <div class="bulle cinquante-et-un"></div>
            <div class="bulle cinquante-deux"></div>

            <section class="info-user">
                <h2>Vos informations personnelles</h2>
                <div class="info-summary">
                    <p>Identifiant : <?php echo $_SESSION['LOGGED_USER']['user_name']; ?></p>
                    <p>Email : <?php echo $_SESSION['LOGGED_USER']['user_email']; ?></p>
                </div>
                <a class="cta" href="#">Modifier</a>
            </section>
        </main>

        {% include 'Components/_footer.html.twig' %}
    </div>
{% endblock %}
