{% extends 'layout.html.twig' %}

{% block subtitle %} Inscription {% endblock %}

{% block scripts %} {% endblock %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/identification.css">
{% endblock %}

{% block content %}
    {% include 'Components/_navbar.html.twig' %}  

    <div class="bulle quinze"></div>
    <div class="bulle seize"></div>
    <div class="bulle dix-sept"></div>
    <div class="bulle dix-huit"></div>
    <div class="bulle dix-neuf"></div>
    <div class="bulle vingt"></div>
    <div class="bulle vingt-et-un"></div>

    <div id="content-wrap">
        {% if errors is not empty %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            <div>
                <label for="user_name">Nom d'utilisateur</label>
                <input type="text" id="user_name" name="user_name" maxlength="40" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="you@exemple.com" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn-session">M'inscrire</button>
        </form>
        <p class="invitation-session">Déjà inscrit ? <a href="/login" class="lien-session">Connectez-vous</a></p>
    </div>
{% endblock %}