$background-color: #FFFFFF;
$cta-color: #2A3D45;
$spacing: 1rem;
$main-font: 'Montserrat', sans-serif;
$title-font: "Roboto Slab", serif;

@mixin ctaButtons($background, $color, $fontweight,) {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1.25rem 1.75rem;
    border-radius: 40px;
    background-color: $background;
    color: $color;
    font-weight: $fontweight;
}

@mixin bubbles($height, $width, $top, $left, $radius, $color) {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    position: absolute;
    transition: transform 0.4s ease-in-out;
    height: $height;
    width: $width;
    top: $top;
    left: $left;
    border-radius: $radius;
    background-color: $color;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
}
  
body {
    font-family: $main-font;
    background-color: $background-color;
}

section {
    min-height: 100vh;
    margin-bottom: $spacing*3;
}

h1 {
    font-family: $title-font;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 32px;
    text-align: center;
    -webkit-text-stroke: 1px #2d414d;
}

h2 {
    /*margin: 24px auto;*/
}

h3 {
    /*margin-bottom: 16px;*/
}

p {
    margin-bottom: $spacing*1.5;
    font-size: 1.2rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

.cta {
    background-color: $cta-color;
    cursor: pointer;
    color: #6EF9F5;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.25rem 1.75rem;
    border-radius: 40px;
    transition: border 0.2s ease-in, font-size 0.2s, background-color 0.5s;
    &:hover {
        border: 3px solid pink;
        background-color: #5ABCB9;
        color: #323031;
        font-size: 1.6rem;
    }
}

.scroll {
    margin-top: 40px;
    margin-bottom: 88px;
    font-size: xx-large;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    &:hover {
        transform: scale(1.7);
    }
}

