@import 'base';

.landingpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    position: relative;
    padding: 0 $spacing $spacing;
}

.bulle.un {
    @include bubbles(20.2vh, 10.7vw, 1.1vh, -2.5vw, 33% 67% 71% 29% / 33% 47% 53% 67%, #9EA3B0);
    transform: rotate(-25deg);

    &:hover {
        transform: scale(1.2);
    }
}

.bulle.deux {
    @include bubbles(15vh, 8.6vw, -1.1vh, 10.3vw, 33% 67% 71% 29% / 30% 17% 83% 70%, #FAE1DF);

    &:hover {
        transform: scale(1.2);
    }
}

.bulle.trois {
    @include bubbles(15.2vh, 8.7vw, 28vh, 5.3vw, 29% 71% 0% 100% / 30% 41% 59% 70%, #9DC5BB);
    transform: rotate(25deg);

    &:hover {
        transform: rotate(80deg);
    }
}

.bulle.quatre {
    @include bubbles(15.6vh, 10.2vw, -2.2vh, 78vw, 29% 71% 0% 100% / 27% 63% 37% 73%, #E5ECF4);
    transform: rotate(10deg);
    transition: border-radius 0.7s ease-in-out;

    &:hover {
        border-radius: 75% 25% 84% 16% / 59% 38% 62% 41%;
    }
}

.bulle.cinq {
    @include bubbles(17.5vh, 13.2vw, 0.8vh, 104vw, 59% 41% 83% 17% / 43% 10% 90% 57%, #9EA3B0);

    &:hover {
        transform: scale(1.2);
    }
}

.bulle.six {
    @include bubbles(17.5vh, 14vw, 24vh, 104vw, 23% 77% 20% 80% / 61% 66% 34% 39%, #F7B2AD);

    &:hover {
        transform: scale(1.2);
    }
}

.bulle.sept {
    @include bubbles(19.9vh, 6.9vw, 28vh, 87vw, 84% 16% 49% 51% / 85% 39% 61% 15%, #9DC4B5);

    &:hover {
        transform: rotate(-80deg);
    }
}

.explications,
.présentation {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    align-items: center;
}

.process {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 148px;
    align-items: center;
    background: url('../images/photo-process.jpg');
    background-size: contain;
    background-size: 1050px;
    background-position: 0 -415px;
    background-repeat: no-repeat;
    border-radius: 80px;

    img {
        transform: rotate(45deg);
    }
}

.bulle.huit {
    height: 135px;
    width: 119px;
    background-color: #F7B2AD;
    border-radius: 86% 14% 71% 29% / 100% 31% 69% 0%;
    position: absolute;
    top: -155px;
    left: -170px;
    transition: transform 0.4s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.bulle.neuf {
    height: 102px;
    width: 84px;
    background-color: #9EA3B0;
    border-radius: 0% 100% 16% 84% / 69% 80% 20% 31%;
    position: absolute;
    top: 32px;
    left: -32px;
    transition: transform 0.4s ease-in-out;
    transform: rotate(180deg);

    &:hover {
        transform: rotate(-180deg);
    }
}

.bulle.dix {
    height: 137px;
    width: 117px;
    background-color: #F7B2AD;
    border-radius: 19% 81% 16% 84% / 55% 53% 47% 45%;
    position: absolute;
    top: 182px;
    right: -88px;
    transition: transform 0.4s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.bulle.onze {
    height: 125px;
    width: 123px;
    background-color: #BBCDE5;
    border-radius: 85% 15% 59% 41% / 74% 47% 53% 26%;
    position: absolute;
    top: 340px;
    right: -132px;
    transition: border-radius 0.8s ease-in-out;

    &:hover {
        border-radius: 41% 59% 47% 53% / 29% 67% 33% 71%;
    }
}

.bulle.douze {
    height: 168px;
    width: 153px;
    background-color: #9EA3B0;
    border-radius: 75% 25% 84% 16% / 59% 38% 62% 41%;
    position: absolute;
    top: 456px;
    right: -300px;
    transition: border-radius 0.8s ease-in-out;

    &:hover {
        border-radius: 41% 59% 47% 53% / 29% 67% 33% 71%;
    }
}

.bulle.treize {
    height: 104px;
    width: 111px;
    background-color: #639FAB;
    border-radius: 49% 51% 30% 70% / 45% 69% 31% 55%;
    position: absolute;
    top: 632px;
    right: -188px;
    transition: transform 0.4s ease-in-out;

    &:hover {
        transform: rotate(180deg);
    }
}

.bulle.quatorze {
    height: 156px;
    width: 113px;
    background-color: #FAE1DF;
    border-radius: 81% 19% 100% 0% / 73% 31% 69% 27%;
    position: absolute;
    top: 764px;
    right: -116px;
    transition: transform 0.4s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}